langchain-community>=0.2.9 # For PebbloSafeLoader, PebbloRetrievalQA, VectorStore
langchain-google-community>=1.0.4 # For GoogleDriveLoader
langchain-openai>=0.1.7 # For OpenAI LLM and OpenAIEmbeddings
python-dotenv==1.0.0
tiktoken
requests>=2.32.0
Markdown==3.5
unstructured[all-docs]
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
qdrant-client==1.10.1 # for Qdrant VectorStore
PyPDF2