langchain-community>=0.2.9 # For PebbloSafeLoader, VectorStore
langchain-openai>=0.1.7 # For OpenAI LLM and OpenAIEmbeddings
chromadb
python-dotenv
tiktoken
requests>=2.32.0
Markdown
unstructured[all-docs]
