@page {
  size: Letter;
  margin: 0mm;
  padding: 58px 0mm;
  border: 0mm;
}
@page: first {
  size: Letter;
  margin: 0mm;
  border: 0mm;
  padding: 0mm;
}
html,
body {
  height: 100%;
  width: 100%;
  margin: 0mm;
  padding: 0mm;
}
/* Common styles start */
/* FONT FAMILY */
.inter {
  font-family: "Inter", sans-serif;
}
.manrope {
  font-family: "Manrope", sans-serif;
}
/* WIDTH PROPERTY */
.w-fit {
  width: fit-content;
}
.w-100 {
  width: 100%;
}
.w-90 {
  width: 90%;
}
.w-300 {
  width: 300px;
}
.w-120 {
  width: 120px;
}
.w-70 {
  width: 70%;
}
.max-w-70 {
  max-width: 70%;
}

/* HEIGHT */
.h-2 {
  height: 8px !important;
}
/* DISPLAY PROPERTY */
.none {
  display: none;
}
.flex {
  display: flex;
}
.inline {
  display: inline;
}
.inline-block {
  display: inline-block;
}
.contents {
  display: contents;
}
.grid {
  display: grid;
}
.inline-flex {
  display: inline-flex;
}
/* FLEX PROPERTY */
.flex-col {
  flex-direction: column;
}
/* GRID COLUMN */
.grid-cols-4 {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}
/* JUSTIFY PROPERTY */
.justify-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
/* ALIGN ITEMS PROPERTY */
.items-start {
  align-items: start;
}
.items-center {
  align-items: center;
}
.items-end {
  align-items: end;
}
/* TEXT ALIGN */
.text-start {
  text-align: start;
}
.text-end {
  text-align: end;
}
/* FLEX SHRINK */
.shrink-0 {
  flex-shrink: 0;
}
.shrink-1 {
  flex-shrink: 1 !important;
}

/* DIVIDER */
.divider {
  width: 1px;
  margin: 2px 0px;
  flex-shrink: 0;
}
.divider-horizontal {
  width: 100%;
  height: 1px;
}
/* FONT WEIGHT PROPERTY */
.font-thin {
  font-weight: 200;
}
.normal {
  font-weight: 400;
}
.medium {
  font-weight: 500;
}
.semi-bold {
  font-weight: 600;
}
.bold {
  font-weight: 700;
}
/* COLOR PALETTE */
.bg-main {
  background: #f5f5f9;
}
.bg-white {
  background: #fff;
}
.bg-surface-60 {
  background: #b5b8ca;
}
.bg-surface-20 {
  background: #3b3e52;
}
.bg-surface-10 {
  background: #191c2e;
}
.bg-surface-10-opacity-20 {
  background: #191c2e;
  opacity: 0.2;
}
.bg-surface-10-opacity-50 {
  background: #191c2e;
  opacity: 0.5;
}
.bg-surface-70 {
  background: #ced0dc;
}
.surface-40 {
  color: #606686;
}
.purple-10 {
  color: #8a79ab;
}
.surface-20 {
  color: #3b3e52;
}
.surface-10-opacity {
  color: #191c2e;
  opacity: 0.5;
}
.surface-10 {
  color: #191c2e;
}
.surface-100 {
  color: #eeeef2;
}
.surface-60 {
  color: #b5b8ca;
}
.surface-50 {
  color: #787d9e;
}
.surface-70 {
  color: #ced0dc;
}
.heading {
  color: #261b89;
}
.sub-heading {
  color: #261b89;
  opacity: 0.5;
}
.critical {
  color: #f03844;
}
/* FONT SIZE PROPERTY */
.font-10 {
  font-size: 10px;
}
.font-11 {
  font-size: 11px;
}
.font-12 {
  font-size: 12px;
}
.font-13 {
  font-size: 13px;
}
.font-14 {
  font-size: 14px;
}
.font-22 {
  font-size: 22px;
}
.font-28 {
  font-size: 28px;
}
.font-32 {
  font-size: 32px;
}
.font-48 {
  font-size: 48px;
}
.font-64 {
  font-size: 64px;
}
/* MARGIN */
.m-0 {
  margin: 0 !important;
}

.ml-1 {
  margin-left: 4px;
}
.ml-2 {
  margin-left: 8px;
}
.ml-3 {
  margin-left: 12px;
}
.ml-4 {
  margin-left: 16px;
}
.ml-5 {
  margin-left: 20px;
}
.ml-6 {
  margin-left: 24px;
}
.ml-7 {
  margin-left: 28px;
}
.ml-8 {
  margin-left: 32px;
}
.ml-9 {
  margin-left: 36px;
}
.ml-13 {
  margin-left: 72px;
}
.ml-24 {
  margin-left: 112px;
}

.mr-1 {
  margin-right: 4px;
}
.mr-2 {
  margin-right: 8px;
}
.mr-3 {
  margin-right: 12px;
}
.mr-4 {
  margin-right: 16px;
}
.mr-5 {
  margin-right: 20px;
}
.mr-6 {
  margin-right: 24px;
}
.mr-7 {
  margin-right: 28px;
}
.mr-8 {
  margin-right: 32px;
}
.mr-9 {
  margin-right: 36px;
}
.mt-0 {
  margin-top: 0px;
}
.mt-1 {
  margin-top: 4px;
}
.mt-2 {
  margin-top: 8px;
}
.mt-3 {
  margin-top: 12px;
}
.mt-4 {
  margin-top: 16px;
}
.mt-5 {
  margin-top: 20px;
}
.mt-6 {
  margin-top: 24px;
}
.mt-7 {
  margin-top: 28px;
}
.mt-8 {
  margin-top: 32px;
}
.mt-9 {
  margin-top: 36px;
}
.mt-11 {
  margin-top: 44px;
}
.mt-12 {
  margin-top: 48px;
}
.mb-1 {
  margin-bottom: 4px;
}
.mb-2 {
  margin-bottom: 8px;
}
.mb-3 {
  margin-bottom: 12px;
}
.mb-4 {
  margin-bottom: 16px;
}
.mb-5 {
  margin-bottom: 20px;
}
.mb-6 {
  margin-bottom: 24px;
}
.mb-7 {
  margin-bottom: 28px;
}
.mb-8 {
  margin-bottom: 32px;
}
.mb-9 {
  margin-bottom: 36px;
}

.mt-auto {
  margin-top: auto;
}
.mr-auto {
  margin-right: auto;
}
.mb-auto {
  margin-bottom: auto;
}
.ml-auto {
  margin-left: auto;
}

/* PADDING */
.p-0 {
  padding: 0 !important;
}
.pt-0 {
  padding-top: 0 !important;
}
.pb-0 {
  padding-bottom: 0 !important;
}
.pl-0 {
  padding-left: 0 !important;
}
.pl-1 {
  padding-left: 4px;
}
.pl-2 {
  padding-left: 8px;
}
.pl-3 {
  padding-left: 12px;
}
.pl-4 {
  padding-left: 16px;
}
.pl-5 {
  padding-left: 20px;
}
.pl-6 {
  padding-left: 24px;
}
.pl-7 {
  padding-left: 28px;
}
.pl-8 {
  padding-left: 32px;
}
.pl-9 {
  padding-left: 36px;
}
.pl-13 {
  padding-left: 52px;
}
.pl-23 {
  padding-left: 92px;
}

.pr-1 {
  padding-right: 4px;
}
.pr-2 {
  padding-right: 8px;
}
.pr-3 {
  padding-right: 12px;
}
.pr-4 {
  padding-right: 16px;
}
.pr-5 {
  padding-right: 20px;
}
.pr-6 {
  padding-right: 24px;
}
.pr-7 {
  padding-left: 28px;
  padding-right: 28px;
}
.pr-8 {
  padding-right: 32px;
}
.pr-9 {
  padding-right: 36px;
}
.pr-13 {
  padding-right: 52px;
}
.pr-23 {
  padding-right: 92px;
}
.pt-1 {
  padding-top: 4px;
}
.pt-2 {
  padding-top: 8px;
}
.pt-3 {
  padding-top: 12px;
}
.pt-4 {
  padding-top: 16px;
}
.pt-5 {
  padding-top: 20px;
}
.pt-6 {
  padding-top: 24px;
}
.pt-7 {
  padding-top: 28px;
}
.pt-8 {
  padding-top: 32px;
}
.pt-9 {
  padding-top: 36px;
}
.pt-10 {
  padding-top: 40px;
}
.pt-12 {
  padding-top: 48px;
}
.pt-42 {
  padding-top: 168px;
}

.pb-1 {
  padding-bottom: 4px;
}
.pb-2 {
  padding-bottom: 8px;
}
.pb-3 {
  padding-bottom: 12px;
}
.pb-4 {
  padding-bottom: 16px;
}
.pb-5 {
  padding-bottom: 20px;
}
.pb-6 {
  padding-bottom: 24px;
}
.pb-7 {
  padding-bottom: 28px;
}
.pb-8 {
  padding-bottom: 32px;
}
.pb-9 {
  padding-bottom: 36px;
}
.pb-10 {
  padding-bottom: 40px;
}

/* BORDER */
.border-thin {
  border-width: 0.5px;
}
.border-none {
  border: none !important;
}
.border-grey-10 {
  border-color: rgba(230, 231, 237, 0.8);
}
/* BORDER RADIUS */
.rounded-sm {
  border-radius: 2px;
}

.break-word {
  overflow-wrap: break-word;
}

/* Common styles end */

section {
  height: 100%;
  padding: 0px 52px;
  page-break-after: always;
}

.cover-page {
  background-image: url("../assets/cover-page-background.png");
  background-repeat: no-repeat;
  background-size: contain;
}

/* CARD */
.card {
  display: flex;
  flex-direction: column;
  background: white;
  justify-content: space-around;
  border-radius: 2px;
}
.card__title {
  display: flex;
  align-items: center;
}

.header {
  background: linear-gradient(269deg, #0f0f29 -1.47%, #2c265b 100%);
}
.bar__graph .graph {
  width: 100%;
  height: 10px;
  background: #dfe0e6;
}
.filled {
  background: #e9384480;
  height: 100%;
  width: 10%;
}
table {
  width: 100%;
  border-collapse: collapse;
}
table.fixed {
  table-layout: fixed;
}
td {
  flex-shrink: 0;
  padding: 8px 12px;
  border-bottom: 0.5px solid rgba(25, 28, 46, 0.2);
}
th {
  color: #7e83a5;
  flex-shrink: 0;
  background: #f5f5f9;
  font-weight: 400;
  padding: 4px 12px;
}

div {
  flex-shrink: 0;
}
.card__body {
  margin-top: 12px;
}

.key-value {
  font-family: "Inter", sans-serif;
  margin-top: 12px;
  padding: 0 12px;
}

/* CHIP DESIGN */
.chip {
  padding: 4px 10px;
  border-radius: 2px;
  border: 1px solid #ebebeb;
}
