azure-identity
msgraph-sdk-python-core
o365
langchain-core==0.2.10
langchain-community==0.2.6 # For PebbloSafeLoader, PebbloRetrievalQA, VectorStore
langchain-openai>=0.1.7 # For OpenAI LLM and OpenAIEmbeddings
python-dotenv==1.0.0
tiktoken
requests==2.31.0
Markdown==3.5
unstructured[all-docs]
qdrant-client==1.8.0 # for Qdrant VectorStore
PyPDF2
pymupdf