:root {
  --primary-blue: #5468f3;
  --light-blue: #a4b0ff;
  --white: #fff;
  --main: #f5f5f9;
  --surface-10: #191c2d;
  --surface-40: #63698b;
  --surface-50: #787d9e;
  --surface-60: #7e83a5;
  --surface-70: #ced0dc;
  --surface-80: #838282;
  --critical: #f03844;
}
* {
  margin: 0;
  padding: 0;
}
html,
body,
#root {
  height: 100%;
}
body {
  background: var(--main);
}

.app {
  height: 100%;
  display: flex;
  flex-direction: column;
}
/* <=========== Common styles start ===========> */

/* ICON STYLES */

svg.icon-size-md {
  height: 20px;
  width: 20px;
}

svg.icon-size-sm {
  height: 14px;
  width: 14px;
}

svg.icon-primary {
  fill: var(--primary-blue);
}
svg.icon-white {
  fill: white;
}
svg.icon-critical {
  fill: var(--critical);
}

svg:focus {
  outline: none;
}
svg.icon-grey {
  fill: #7e83a5;
}
svg.icon-success {
  fill: #14be9b;
}
/* <----------- POSITION -----------> */
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.fixed {
  position: fixed;
}
.sticky {
  position: sticky;
}
.top-0 {
  top: 0;
}
.bottom-0 {
  bottom: 0;
}
.left-0 {
  left: 0;
}
.right-0 {
  right: 0;
}

/* <----------- HEIGHT -----------> */
.h-fit {
  height: fit-content;
}
.h-full {
  height: 100%;
}
.h-50 {
  height: 200px;
}
.h-55 {
  height: 220px;
}
.h-59 {
  height: 236px;
}

/* <----------- WIDTH -----------> */
.w-full {
  width: 100%;
}
.w-half {
  width: 50%;
}
.w-50 {
  width: 200px;
}
.w-90 {
  width: 90%;
}
.w-70 {
  width: 70%;
}
.w-10 {
  width: 100px;
}
.w-300px {
  width: 300px;
}
.w-400px {
  width: 400px;
}
.w-auto {
  width: auto;
}

/* <----------- FONT FAMILY -----------> */
.inter {
  font-family: "Inter", sans-serif;
}
.manrope {
  font-family: "Manrope", sans-serif;
}

/* <----------- WIDTH PROPERTY -----------> */
.w-fit {
  width: fit-content;
}
.w-100 {
  width: 100%;
}

/* <----------- DISPLAY PROPERTY -----------> */
.none {
  display: none;
}
.flex {
  display: flex;
}
.inline {
  display: inline;
}
.inline-block {
  display: inline-block;
}
.contents {
  display: contents;
}
.grid {
  display: grid;
}
.inline-flex {
  display: inline-flex;
}
.layout-fixed {
  table-layout: fixed;
}

/* <----------- GAP -----------> */
.gap-1 {
  gap: 4px;
}
.gap-2 {
  gap: 8px;
}
.gap-3 {
  gap: 12px;
}
.gap-4 {
  gap: 16px;
}
.gap-5 {
  gap: 20px;
}
.gap-6 {
  gap: 24px;
}
.gap-7 {
  gap: 28px;
}
.gap-8 {
  gap: 32px;
}
.gap-10 {
  gap: 40px;
}
.col-4 {
  grid-column-start: 2;
  grid-column-end: 5;
}
.row-gap-3 {
  row-gap: 12px;
}
.col-gap-3 {
  column-gap: 12px;
}

/* <----------- FLEX PROPERTY -----------> */
.flex-col {
  flex-direction: column;
}

/* <----------- GRID COLUMN -----------> */
.grid-cols-4 {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

/* <----------- JUSTIFY PROPERTY -----------> */
.justify-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.justify-end {
  justify-content: end;
}

/* <----------- ALIGN ITEMS PROPERTY -----------> */
.items-start {
  align-items: start;
}
.items-center {
  align-items: center;
}
.items-end {
  align-items: end;
}

/* <----------- TEXT ALIGN -----------> */
.text-start {
  text-align: start;
  justify-content: start;
}
.text-center {
  text-align: center;
  justify-content: center;
}
.text-end {
  text-align: end;
  justify-content: end;
}

/* TEXT TRANSFORM  */
.capitalize {
  text-transform: capitalize;
}
.text-none {
  text-transform: none;
}
/* ELLIPSE TEXT  */
.text-ellipsis {
  max-width: 0;
  text-overflow: ellipsis;
}
.overflow-ellipsis {
  text-overflow: ellipsis;
}

/* <----------- FLEX SHRINK -----------> */
.shrink-0 {
  flex-shrink: 0;
}
.shrink-1 {
  flex-shrink: 1 !important;
}

/* <----------- DIVIDER -----------> */
.divider {
  width: 0.5px;
  margin: 2px 0px;
  flex-shrink: 0;
  background: rgba(25, 28, 46, 0.2);
}
.divider-horizontal {
  width: 100%;
  height: 0.5px;
  background: rgba(25, 28, 46, 0.2);
  flex-shrink: 0;
}

/* <----------- FONT WEIGHT PROPERTY -----------> */
.font-thin {
  font-weight: 300;
}
.normal {
  font-weight: 400;
}
.medium {
  font-weight: 500;
}
.semi-bold {
  font-weight: 600;
}
.bold {
  font-weight: 700;
}

/* <----------- COLOR PALETTE -----------> */
/* <----------- BACKGROUND-COLOR -----------> */
.bg-main {
  background: var(--main);
}
.bg-white {
  background: var(--white);
}
.bg-surface-60 {
  background: #b5b8ca;
}
.bg-surface-20 {
  background: #3b3e52;
}
.bg-surface-10 {
  background: #191c2e;
}
.bg-surface-10-opacity-20 {
  background: #191c2e;
  opacity: 0.2;
}
.bg-surface-10-opacity-50 {
  background: #191c2e;
  opacity: 0.5;
}
.bg-surface-70 {
  background: var(--surface-70);
}
.bg-grey-70 {
  background: #e6e5e5;
}

/* <----------- COLOR -----------> */
.surface-white {
  color: var(--white);
}
.surface-main {
  color: var(--main);
}
.surface-10 {
  color: var(--surface-10);
}
.surface-10-opacity-65 {
  color: #191c2e;
  opacity: 0.65;
}
.surface-10-opacity-50 {
  color: #191c2e;
  opacity: 0.5;
}
.surface-20 {
  color: #3b3e52;
}
.surface-40 {
  color: #606686;
}
.surface-50 {
  color: var(--surface-50);
}
.surface-60 {
  color: var(--surface-60);
}

.surface-70 {
  color: var(--surface-70);
}
.surface-80 {
  color: var(--surface-80);
}
.surface-100 {
  color: #eeeef2;
}
.purple-10 {
  color: #8a79ab;
}

.heading {
  color: #261b89;
}
.sub-heading {
  color: #261b89;
  opacity: 0.5;
}
.critical {
  color: var(--critical);
}

/* <----------- FONT SIZE PROPERTY -----------> */
.font-10 {
  font-size: 10px;
}
.font-11 {
  font-size: 11px;
}
.font-12 {
  font-size: 12px;
}
.font-13 {
  font-size: 13px;
}
.font-14 {
  font-size: 14px;
}
.font-16 {
  font-size: 16px;
}
.font-20 {
  font-size: 20px;
}
.font-22 {
  font-size: 22px;
}
.font-24 {
  font-size: 24px;
}
.font-28 {
  font-size: 28px;
}
.font-32 {
  font-size: 32px;
}
.font-48 {
  font-size: 48px;
}
.font-64 {
  font-size: 64px;
}

/* <----------- MARGIN -----------> */
.m-0 {
  margin: 0 !important;
}
.-ml-1 {
  margin-left: -4px;
}
.ml-1 {
  margin-left: 4px;
}
.ml-2 {
  margin-left: 8px;
}
.ml-3 {
  margin-left: 12px;
}
.ml-4 {
  margin-left: 16px;
}
.ml-5 {
  margin-left: 20px;
}
.ml-6 {
  margin-left: 24px;
}
.ml-7 {
  margin-left: 28px;
}
.ml-8 {
  margin-left: 32px;
}
.ml-9 {
  margin-left: 36px;
}
.ml-13 {
  margin-left: 72px;
}
.ml-24 {
  margin-left: 112px;
}

.mr-1 {
  margin-right: 4px;
}
.mr-2 {
  margin-right: 8px;
}
.mr-3 {
  margin-right: 12px;
}
.mr-4 {
  margin-right: 16px;
}
.mr-5 {
  margin-right: 20px;
}
.mr-6 {
  margin-right: 24px;
}
.mr-7 {
  margin-right: 28px;
}
.mr-8 {
  margin-right: 32px;
}
.mr-9 {
  margin-right: 36px;
}
.mt-0 {
  margin-top: 0px;
}
.mt-1 {
  margin-top: 4px;
}
.mt-2 {
  margin-top: 8px;
}
.mt-3 {
  margin-top: 12px;
}
.mt-4 {
  margin-top: 16px;
}
.mt-5 {
  margin-top: 20px;
}
.mt-6 {
  margin-top: 24px;
}
.mt-7 {
  margin-top: 28px;
}
.mt-8 {
  margin-top: 32px;
}
.mt-9 {
  margin-top: 36px;
}
.mt-11 {
  margin-top: 44px;
}
.mt-12 {
  margin-top: 48px;
}
.mb-1 {
  margin-bottom: 4px;
}
.mb-2 {
  margin-bottom: 8px;
}
.mb-3 {
  margin-bottom: 12px;
}
.mb-4 {
  margin-bottom: 16px;
}
.mb-5 {
  margin-bottom: 20px;
}
.mb-6 {
  margin-bottom: 24px;
}
.mb-7 {
  margin-bottom: 28px;
}
.mb-8 {
  margin-bottom: 32px;
}
.mb-9 {
  margin-bottom: 36px;
}

.mt-auto {
  margin-top: auto;
}
.mr-auto {
  margin-right: auto;
}
.mb-auto {
  margin-bottom: auto;
}
.ml-auto {
  margin-left: auto;
}

/* <----------- PADDING -----------> */
.p-0 {
  padding: 0 !important;
}
.pt-0 {
  padding-top: 0 !important;
}
.pb-0 {
  padding-bottom: 0 !important;
}
.pl-0 {
  padding-left: 0 !important;
}
.pl-1 {
  padding-left: 4px;
}
.pl-2 {
  padding-left: 8px;
}
.pl-3 {
  padding-left: 12px;
}
.pl-4 {
  padding-left: 16px;
}
.pl-5 {
  padding-left: 20px;
}
.pl-6 {
  padding-left: 24px;
}
.pl-7 {
  padding-left: 28px;
}
.pl-8 {
  padding-left: 32px;
}
.pl-9 {
  padding-left: 36px;
}
.pl-13 {
  padding-left: 52px;
}
.pl-23 {
  padding-left: 92px;
}
.pl-25 {
  padding-left: 100px;
}

.pr-1 {
  padding-right: 4px;
}
.pr-2 {
  padding-right: 8px;
}
.pr-3 {
  padding-right: 12px;
}
.pr-4 {
  padding-right: 16px;
}
.pr-5 {
  padding-right: 20px;
}
.pr-6 {
  padding-right: 24px;
}
.pr-7 {
  padding-left: 28px;
  padding-right: 28px;
}
.pr-8 {
  padding-right: 32px;
}
.pr-9 {
  padding-right: 36px;
}
.pr-13 {
  padding-right: 52px;
}
.pr-23 {
  padding-right: 92px;
}
.pr-25 {
  padding-right: 100px;
}
.pt-1 {
  padding-top: 4px;
}
.pt-2 {
  padding-top: 8px;
}
.pt-3 {
  padding-top: 12px;
}
.pt-4 {
  padding-top: 16px;
}
.pt-5 {
  padding-top: 20px;
}
.pt-6 {
  padding-top: 24px;
}
.pt-7 {
  padding-top: 28px;
}
.pt-8 {
  padding-top: 32px;
}
.pt-9 {
  padding-top: 36px;
}
.pt-10 {
  padding-top: 40px;
}
.pt-12 {
  padding-top: 48px;
}
.pt-42 {
  padding-top: 168px;
}

.pb-1 {
  padding-bottom: 4px;
}
.pb-2 {
  padding-bottom: 8px;
}
.pb-3 {
  padding-bottom: 12px;
}
.pb-4 {
  padding-bottom: 16px;
}
.pb-5 {
  padding-bottom: 20px;
}
.pb-6 {
  padding-bottom: 24px;
}
.pb-7 {
  padding-bottom: 28px;
}
.pb-8 {
  padding-bottom: 32px;
}
.pb-9 {
  padding-bottom: 36px;
}
.pb-10 {
  padding-bottom: 40px;
}

/* <----------- BORDER -----------> */
.border-thin {
  border-width: 0.5px;
}
.border-none {
  border: none !important;
}
.border-grey-10 {
  border-color: rgba(230, 231, 237, 0.8);
}
.border-grey-20 {
  border: 1px solid #e6e7ed;
}

/* <----------- BORDER RADIUS -----------> */
.rounded-sm {
  border-radius: 2px;
}
.rounded-md {
  border-radius: 4px;
}
.rounded-lg {
  border-radius: 8px;
}

/* <----------- Z-INDEX -----------> */
.-z-1 {
  z-index: -1;
}
.z-0 {
  z-index: 0;
}
.z-1 {
  z-index: 1;
}

/* <=========== CARD-STYLES ===========> */
.card {
  border-radius: 4px;
  background: white;
  padding: 24px;
  flex: 1;
}

/* <=========== TAB ===========> */
.tabs {
  z-index: 99;
  background: var(--white);
  border-bottom: 24px solid var(--white);
}
.tab {
  position: relative;
  border-radius: 4px;
  padding: 10px 12px 24px 12px;
  cursor: pointer;
  min-width: 200px;
  max-width: 200px;
}
.tab:hover {
  background: #f4f9fc;
}
#tab_selected {
  position: absolute;
  content: "";
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  background: #f4f9fc;
  width: 224px;
  height: 100%;
  top: 0;
  left: 0;
  border-bottom: 2px solid var(--primary-blue);
  transition: all 0.3s;
  z-index: -1;
}
.tab_panel {
  padding: 24px;
  border-radius: 4px;
  border: 1px solid rgba(216, 217, 227, 0.5);
}

/* <---------- INPUT BOX (SEARCH) ----------> */
.search {
  max-width: 280px;
  width: 280px;
  border-bottom: 1px solid var(--surface-70);
  display: flex;
  padding: 6px 0px;
  z-index: 1;
}
.search input {
  border: none;
  color: var(--surface-50);
  font-family: "Inter", sans-serif;
  font-size: 12px;
  width: 100%;
  background: none;
  padding-left: 8px;
}
.search input::placeholder {
  color: var(--surface-60);
  opacity: 50%;
}
.search svg {
  opacity: 50%;
}

.search > input:focus,
.search > input:focus-visible {
  outline: none;
}

.search img {
  height: 20px;
  cursor: pointer;
}

/* <---------- BUTTON ----------> */

button {
  cursor: pointer;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  font-size: 12px;
  font-family: "Inter", sans-serif;
  width: fit-content;
  border: none;
  padding: 8px 10px;
  background: none;
}

button.btn-contained-primary {
  background-color: var(--primary-blue);
  color: white;
}

button.btn-contained-critical {
  background-color: var(--critical);
  color: white;
}

button.btn-contained-primary svg {
  fill: white;
}

button.btn-outlined-primary {
  color: var(--primary-blue);
  border: 1px solid var(--primary-blue);
}

button.btn-text-primary {
  color: var(--primary-blue);
  padding: 8px 10px;
}

button.btn-text-critical {
  color: var(--critical);
  padding: 8px 10px;
}

button.btn-contained-primary:hover {
  background-color: #4d61ef;
}

button.btn-outlined-primary:hover {
  background: #5468f308;
  border: 1px solid #4d61ef;
}

button.btn-text-critical:hover {
  background: #fff4f3;
}

button.btn-text-primary:hover {
  background: #f1f3ff80;
}

button.btn-text-white {
  color: white;
}
button.btn-text-white:hover {
  background: rgba(0, 0, 0, 0.05);
}

/* <---------- TABLE ----------> */
table {
  white-space: nowrap;
  width: 100%;
  font-family: "Inter", sans-serif;
}
thead {
  color: var(--surface-60);
  font-size: 12px;
  background: #fafafa;
}
tbody {
  font-size: 13px;
  color: var(--surface-10);
}
td {
  border-bottom: 0.5px solid rgba(25, 28, 46, 0.2);
  position: relative;
  /*z-index: 0;*/
}
td > #link {
  text-decoration: none;
  color: inherit;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
tr.table-row:hover {
  background: rgba(0, 116, 224, 0.05);
  cursor: pointer;
}
th {
  text-align: left;
  font-weight: 500;
}

th {
  padding: 12px;
}
th.active {
  color: var(--surface-50);
  opacity: 1;
}
th.active > div > svg {
  fill: var(--surface-50);
}

th.asc > div > svg {
  rotate: 180deg;
}

th.dsc > div > svg {
  rotate: 0deg;
}
.sort-column {
  opacity: 0.8;
}
.sort-column:hover {
  color: var(--surface-50);
  opacity: 1;
}
.sort-column:hover svg {
  fill: var(--surface-50) !important;
}
td.fit {
  width: 0;
  max-width: fit-content;
  min-width: fit-content;
}

/* <---------- CURSOR ----------> */
.cursor-pointer {
  cursor: pointer;
}
.pointer-none {
  pointer-events: none;
}

/* <---------- OVERFLOW ----------> */
.overflow-hidden {
  overflow: hidden;
}
.overflow-auto {
  overflow: auto;
}
.overflow-y-auto {
  overflow-y: auto;
}
.overflow-x-hidden {
  overflow-x: hidden;
}

.snippet-body:hover {
  background: var(--main);
}

/* <---------- ACCORDION ----------> */
button.accordion-summary {
  background: none;
  border: none;
  color: var(--surface-10);
  font-size: 12px;
  font-weight: 500;
  padding: 0;
}
#arrow_icon {
  transition: 0.3s;
  rotate: 180deg;
}
.active #arrow_icon {
  rotate: 0deg;
}

.accordion-details {
  padding: 24px;
  border-radius: 4px;
  border: 1px solid #d8d9e350;
  gap: 12px;
}

/* MISCELLANEOUS CSS */
.mask {
  background-image: url("./background-image.png");
  background-size: cover;
}

/*   Open state of the dialog  */
dialog[open] {
  opacity: 1;
  transform: scaleY(1);
  z-index: 0;
}

/*   Closed state of the dialog   */
dialog {
  opacity: 0;
  transform: scaleY(0.5);
  transition: transform 0.1s ease-out, overlay 0.1s ease-out allow-discrete;
  margin: auto;
  border: none;
  border-radius: 4px;
  z-index: -1;
}

/*   Before-open state  */
/* Needs to be after the previous dialog[open] rule to take effect,
    as the specificity is the same */
@starting-style {
  dialog[open] {
    transform: scaleY(0.5);
  }
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0%);
  transition: display 0.1s allow-discrete, overlay 0.1s allow-discrete;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.4);
}

/* DIALOG SIZES */
.dialog-full {
  width: 100%;
  height: 100%;
}

.dialog-md {
  width: 100%;
  max-width: calc(100vw - 35%);
}

.dialog-sm {
  width: 100%;
  max-width: 600px;
}

/* ICON BUTTON */
.icon-button {
  border: none;
  background: none;
  padding: 8px;
  border-radius: 50%;
  display: flex;
}

.icon-button:hover {
  background: rgba(0, 0, 0, 0.05);
}

.load-history-table {
  border: 1px solid#D8D9E380;
}

/* TOOLTIP */

.tooltip-wrapper {
  word-break: break-all;
  white-space: normal;
  text-transform: none;
  width: 90%;
  z-index: 1;
}

.tooltip-content {
  min-width: 100%;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tooltip-wrapper-top,
.tooltip-wrapper-right,
.tooltip-wrapper-bottom,
.tooltip-wrapper-left {
  position: absolute;
  display: none;
}
.tooltip:hover .tooltip-wrapper-top {
  display: block;
  top: 20px;
  left: 0;
}

.tooltip:hover .tooltip-wrapper-bottom {
  display: block;
}

.tooltip-title-top {
  display: block;
  position: relative;
  width: fit-content;
  height: fit-content;
  padding: 6px;
  color: #ffffff;
  background: #000000;
  text-align: center;
  border-radius: 6px;
}
.tooltip-title-top:after {
  content: "";
  position: absolute;
  top: -10px;
  left: 10%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
  transform: rotate(180deg);
}

.tooltip:hover .tooltip-wrapper-bottom {
  display: block;
  height: fit-content;
  width: fit-content;
  bottom: 0;
}

.tooltip-title-bottom {
  width: fit-content;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 6px;
  position: absolute;
  right: 90%;
  z-index: 999;
  top: 0;
  bottom: 0;
  margin: auto;
  height: fit-content;
}

.tooltip-title-bottom::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent black;
}

/* TOOLTIP FOR COPY TEXT  */
.copy-text-tooltip {
  width: fit-content;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 6px;
  position: absolute;
  z-index: 1;
  top: 150%;
  margin-left: -24px;
  display: none;
}

.copy-text-tooltip::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.graph-container {
  height: 100%;
  width: 100%;
  min-width: 100%;
  min-height: 250px;
}

.hide-node {
  opacity: 0;
}

.show-node {
  opacity: 1;
}

.bubble-count {
  font-size: 12px;
}

.legend-badge {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #a8b7ff;
}

.tooltip {
  font-family: "Inter";
  display: flex;
  flex-direction: column;
  gap: 4px;
  position: relative;
}

.tooltip-inline {
  display: inline;
}

.tooltip-heading {
  color: var(--main);
  font-weight: 400;
  font-size: 12px;
}

.tooltip-body {
  color: var(--main);
  font-weight: 200;
  font-size: 12px;
}

.navbar {
  overflow: hidden;
  font-family: "Inter";
  display: flex;
  gap: 8px;
}

.navbar a {
  float: left;
  display: block;
  color: var(--white);
  text-align: center;
  padding: 6px 10px;
  text-decoration: none;
  font-size: 12px;
  border-bottom: 2px solid transparent;
}

.navbar a:hover {
  border-bottom: 2px solid var(--white);
}

.navbar .navlink-active {
  font-weight: 600;
  border-bottom: 2px solid var(--white);
}

/* Progress Bar */

.barOuterRect {
  height: 8px;
  width: 300px;
  position: relative;
  background-color: rgba(164, 176, 255, 0.5);
}
.barInnerRect {
  height: inherit;
  transition: 0.5s ease;
  width: 0px;
}

.text-right {
  text-align: right;
}

/* SNACKBAR */

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: var(--main);
  color: var(--surface-10);
  text-align: center;
  border-radius: 2px;
  padding: 8px;
  position: fixed;
  z-index: 1;
  left: 50%;
  top: 30px;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  border-radius: 4px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {
    top: 0;
    opacity: 0;
  }
  to {
    top: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    top: 0;
    opacity: 0;
  }
  to {
    top: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    top: 30px;
    opacity: 1;
  }
  to {
    top: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    top: 30px;
    opacity: 1;
  }
  to {
    top: 0;
    opacity: 0;
  }
}

/*Confidence score*/

.confidence-score {
  background-color: var(--surface-70);
  font-weight: bold;
}

.width-max-content {
  width: 200px;
}
