name: deploy-docusaurus

on:
  push:
    branches:
      - main
    paths:
      - 'docs/gh_pages_v2/**'
      
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: write
  pages: write
  id-token: write

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  publish_docs:
    runs-on: ubuntu-latest
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Check out repo
        uses: actions/checkout@v4
      # Node is required for npm
      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: "18"
      # Install and build Docusaurus website
      - name: Build Docusaurus website
        run: |
          cd docs/gh_pages
          npm install 
          npm run build
      - name: Deploy to GitHub Pages
        if: success()
        uses: crazy-max/ghaction-github-pages@v2
        with:
          target_branch: gh-pages
          build_dir: docs/gh_pages_v2/build
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
