# If you change this name also do it in tests_skipper.yml
name: Tests

on:
  workflow_dispatch: # Activate this workflow manually
  push:
    branches:
      - main
      # release branches have the form v1.9.x
      - "v[0-9].*[0-9].x"
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review
    paths:
      - "pebblo/**/*.py"
      - "pebblo/**/*.txt"
      - "tests/**/*.py"

jobs:
  
  RunUnitTests:
    strategy:
      matrix:
        python_version: ["3.9", "3.10", "3.11", "3.12"]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version:  ${{ matrix.python_version }}
      - name: Install the dependencies needed for tests
        run: pip install -r tests/test_requirements.txt
      - name: Run Unit Tests
        run: make test
